#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#intro h1 {
    margin-bottom: 1em;
}

#intro img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}

@media (max-width: 48em) {
    #intro {
        padding: 1.875em 0;
    }
}

#begining {
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1.25em;
}

.pic {
    float: right;
    margin-left: 1.25em;
}

.pic img {
    max-width: 50%;
    height: auto;
}

@media only screen and (max-width: 37.5em) {
    .pic {
        float: none;
        margin: 0;
    }
}

#video {
    background-color: #f0f0f0;
    padding: 1.25em;
}

#video .content {
    max-width: 50em;
    margin: 0 auto;
}

#video h2 {
    margin-bottom: 0.625em;
}

#video video {
    width: 100%;
    height: auto;
    margin-bottom: 0.625em;
}

#video a {
    display: block;
    text-align: center;
}

.alapitas img {
    max-width: 50% !important;
    height: auto;
}

.alapitas {
    text-align: center;
}