.main.background-main {
    background-image: url("../media/images/bg.jpg");
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25em;
}

.kutya text {
    font-weight: normal !important;
}

th,
td {
    border: 0.063em solid #ccc;
    padding: 0.625em;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

@media (min-width: 48em) {
    #projektek .row {
        display: flex;
    }

    #projektek .row>div {
        flex: 1;
    }
}

#projektek img {
    max-width: 100%;
    height: auto;
}

#projektek .row>div:nth-child(2) {
    background-color: #f9f9f9;
    padding: 1.25em;
    border-radius: 0.3125em;
    margin-top: 1.25em;
}

#projektek h3,
#projektek p {
    margin-top: 0;
}

#form {
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

#feedback-form-container {
    margin-bottom: 1.25em;
}

#space-feedback-form {
    padding: 1.25em;
    border: 0.063em solid #ccc;
    border-radius: 0.3125em;
    max-width: 37.5em;
    margin: 0 auto;
    background-color: #ffffff;
}




input[type="radio"] {
    font-weight: normal !important;
}

input[type="text"],
input[type="email"],
textarea {
    width: 70%;
    padding: 0.625em;
    margin-bottom: 0.425em;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

p {
    margin-bottom: 0.625em;
}

input[type="submit"],
input[type="reset"] {
    background-color: #00bfb2;
    color: #FFFFFF;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    margin-right: 0.625em;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}

@media (max-width: 48em) {
    #space-feedback-form {
        max-width: 100%;
    }

    input[type="submit"],
    input[type="reset"] {
        display: block;
        margin-top: 0.625em;
        margin-right: 0;
    }

    textarea {
        width: 100%;
    }
}

#intro h1 {
    margin-bottom: 1em;
}

#projects-print {
    display: none;
}